{# src/OC/PlatformBundle/Resources/views/Advert/add.html.twig #}

{% extends "OCPlatformBundle::layout.html.twig" %}

{% block body %}

  <h2>Add an announce</h2>

  {{ include("OCPlatformBundle:Advert:form.html.twig") }}

  <p>
    Warning : the announce will be published on the Main Page directly after your submission.
  </p>

{% endblock %}